.container
    .jumbotron
        h1 MeanStack
        p Just some random text to make a dummy paragraph. It's not very itneresting.

    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")